<app-toolbar></app-toolbar>

<div class="welcomeBanner">
    <h1 class="headline-2"> Welcome back, {{user.name}}! </h1>
    <p class="body-1">All your recipe needs - All in one place</p>
    <p class="body-1">Get started by writing a new recipe or pickup right where you left off!</p>
</div>



<div class="headline">
    <h1 class="headline-1">My Recipes</h1>


    <!-- Search -->
    <mat-form-field appearance="outline">
        <!-- TODO: Add autocomplete -->
        <mat-label>Search Recipe</mat-label>
        <input [(ngModel)]="headlineInputs.search" matInput  placeholder="ex. Chicken Parmesan">
    </mat-form-field>


    <!-- Sort by -->
    <mat-form-field appearance="outline">
        <mat-label>Sort By</mat-label>

        <mat-select [(ngModel)]="headlineInputs.sortBy">
            <mat-option value="date" selected>Date</mat-option>
            <mat-option value="calories">Calories</mat-option>
            <mat-option value="protein">Protein</mat-option>
            <mat-option value="carbs">Carbs</mat-option>
            <mat-option value="fat">Fat</mat-option>
        </mat-select>
    </mat-form-field>
    

    <!-- Order (Ascending / Descending) -->
    <mat-form-field appearance="outline">
        <mat-label>Order</mat-label>

        <mat-select [(ngModel)]="headlineInputs.order">
            <mat-option value="ascending" selected>Ascending</mat-option>
            <mat-option value="descending">Descending</mat-option>
        </mat-select>
    </mat-form-field>
    

    <!-- Add Recipe -->
    <button mat-fab color="primary" (click)="OpenDialog()" matTooltip="New Recipe" style="padding: 0.5vw;"> 
        <mat-icon>add</mat-icon>
    </button>
    
</div>




<!-- TODO: make paginator in case too many recipes -->
<div class="recipeCards">
    <!-- 
        do *ngFor to iterate through each of the recipes
        do a mat-card for each one
    -->

    <mat-card class="recipeCard">

        <!-- Make all these seperate divs and then position inside the card  -->
        <mat-card-title style="border: groove; max-width: 450px; min-width: 100px;">
            Chicken Parm
            (Other filllerr that takes up a lot of space)
        </mat-card-title>

        <mat-card-subtitle>
            Calories: 1500
            <br>
            Date: 5/17/2020
        </mat-card-subtitle>

        <div class="cardMacros">
            <mat-card-subtitle style="color: #3F51B5; line-height: .75;">
                <p>Protein: 250g</p>
                <p>Fat: 15g</p>
                <p>Carbs: 100g</p>
            </mat-card-subtitle>
        </div>
        
        <!-- have button on horizontal line too -->
        <!-- <mat-card-actions align="end" style="position: stat; bottom: 50px;"> -->
            <!-- <button mat-button color="accent">View</button> -->
            <!-- click to bring popup with the graph -->
        <!-- </mat-card-actions> -->

        <button mat-stroked-button color="accent">View Recipe</button>

    </mat-card>

</div>



