<app-toolbar></app-toolbar>

<div class="welcomeBanner">
    <h1 class="headline-2"> Welcome back {{user.name}}! </h1>
    <p class="body-1">All your recipe needs - All in one place</p>
    <p class="body-1">Get started by writing a new recipe or pickup right where you left off!</p>
</div>



<div class="headline">
    <h1 class="headline-1">My Recipes</h1>


    <!-- Search -->
    <mat-form-field appearance="outline">
        <!-- TODO: Add autocomplete -->
        <mat-label>Search Recipe</mat-label>
        <input [(ngModel)]="headlineInputs.search" matInput  placeholder="ex. Chicken Parmesan">
    </mat-form-field>


    <!-- Sort by -->
    <mat-form-field appearance="outline">
        <mat-label>Sort By</mat-label>

        <mat-select [(ngModel)]="headlineInputs.sortBy">
            <mat-option value="date" selected>Date</mat-option>
            <mat-option value="calories">Calories</mat-option>
            <mat-option value="protein">Protein</mat-option>
            <mat-option value="carbs">Carbs</mat-option>
            <mat-option value="fat">Fat</mat-option>
        </mat-select>
    </mat-form-field>
    

    <!-- Order (Ascending / Descending) -->
    <mat-form-field appearance="outline">
        <mat-label>Order</mat-label>

        <mat-select [(ngModel)]="headlineInputs.order">
            <mat-option value="ascending" selected>Ascending</mat-option>
            <mat-option value="descending">Descending</mat-option>
        </mat-select>
    </mat-form-field>
    

    <!-- Add Recipe -->
    <button mat-fab color="primary" (click)="OpenDialog()" matTooltip="New Recipe" style="margin: 0.5vw" id="add-recipe-button"> 
        <mat-icon>add</mat-icon>
    </button>
    
</div>



<div class="recipeCards" *ngIf="isDisplayingRecipes">

    <mat-card *ngFor="let currentRecipe of recipes" class="recipeCard">

        <!-- Make all these seperate divs and then position inside the card  -->

        <div class="cardTitle">
            <mat-card-title style="font-size: 25px;">
                {{currentRecipe.RecipeName}}
            </mat-card-title>
    
            <mat-card-subtitle style="font-size: 16px; ">
                Calories: (STILL NEED)
                <br>
            <!-- -------------- Look for a date time package that will handling sorting by date. Do not implement yourself manually. -------------- -->
                Date: (STILL NEED)
            </mat-card-subtitle>
        </div>
    

        <div class="cardMacros">
            <mat-card-subtitle style="color: black; line-height: .75;">
                <p>Protein: (STILL NEED)g</p>
                <p>Fat: (STILL NEED)g</p>
                <p>Carbs: (STILL NEED)g</p>
            </mat-card-subtitle>
        </div>

        <button mat-stroked-button color="accent">More</button>

    </mat-card>

</div>

<div *ngIf="!isDisplayingRecipes" style="text-align: center;">
    <h2>
        {{this.noRecipeMessg}}
    </h2>
    <span *ngIf="!hasNoRecipes">
        <p>This should only take a few moments</p>
        <p>
            <mat-spinner [diameter]="25" style="margin: auto"></mat-spinner>
        </p>
    </span>
</div>



