<mat-toolbar color="primary">
    <span><img src="../../assets/images/Foodie_Logo_White.png"></span>
    <button mat-icon-button 
        aria-label="Menu icon in the toolbar"
        [matMenuTriggerFor]="menu"
        id="menu-button">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <!-- Profile Button -->
        <button (click)="DisplayProfile()" mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>
        <!-- Create Recipe Button -->
        <button (click)="CreateRecipe()" mat-menu-item>
            <mat-icon>book</mat-icon>
            <span>Create Recipe</span>
        </button>
        <!-- Logout Button -->
        <button (click)="LogOut()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>
