<app-login-toolbar></app-login-toolbar>

<div class="loginPage">

    <h1>Register Account</h1>

    <!-- Error Message -->
    <div class="errorTopper" *ngIf="showErrorFlag">
        <p>{{errorMessage}}</p> 
    </div>

    <!-- First Name -->
    <mat-form-field id="register-first-name">
        <mat-label>First Name</mat-label>
        <input [(ngModel)]="firstName" matInput required placeholder="ex. John" (keyup.enter)="Submit()">
    </mat-form-field>

    <!-- Last Name -->
    <mat-form-field id="register-last-name">
        <mat-label>Last Name</mat-label>
        <input [(ngModel)]="lastName" matInput required placeholder="ex. Doe" (keyup.enter)="Submit()">
    </mat-form-field>

    <!-- Email -->
    <mat-form-field id="register-email">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="email" matInput required placeholder="ex. johndoe@email.com" (keyup.enter)="Submit()">
    </mat-form-field>

    <!-- Password -->
    <mat-form-field id="register-password">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" matInput required minlength="8" type="password" (keyup.enter)="Submit()">
        <mat-hint align="end">Min 8 characters</mat-hint>
    </mat-form-field>

    <!-- Register Btn -->
    <button (click)="Submit()" mat-raised-button color="accent" id="register-button">
        Register
    </button>

    <!-- Have Acc Btn -->
    <button (click)="GoTo()" mat-raised-button color="primary">
        I Already Have an Account 
    </button>

    <!-- Progress Spinner -->
    <div class="loadingFooter" *ngIf="loadingSpinner">
        <p>
            Registering...
            <mat-spinner [diameter]="25" style="margin: auto"></mat-spinner>
        </p>
    </div>

</div>
