<app-toolbar></app-toolbar>

<div class="welcomeBanner">
    <h1> Welcome back {{user.name}}! </h1>
    <p>All your recipe needs - All in one place</p>
    <p>Get started by writing a new recipe or pickup right where you left off!</p>
</div>



<div class="headline">
    <h1>My Recipes</h1>


    <!-- Search -->
    <mat-form-field appearance="outline">

        <!-- TODO: Add autocomplete -->
        <mat-label>Search Recipe</mat-label>
        <input [(ngModel)]="headlineInputs.search" matInput  placeholder="ex. Chicken Parmesan">
    </mat-form-field>


    <!-- Sort by -->
    <mat-form-field appearance="outline">

        <mat-label>Sort By</mat-label>

        <mat-select [(ngModel)]="headlineInputs.sortBy">
            <mat-option value="date" selected>Date</mat-option>
            <mat-option value="calories">Calories</mat-option>
            <mat-option value="protein">Protein</mat-option>
            <mat-option value="carbs">Carbs</mat-option>
            <mat-option value="fat">Fat</mat-option>
        </mat-select>
    </mat-form-field>
    

    <!-- Order -->
    <mat-form-field appearance="outline">

        <mat-label>Order</mat-label>

        <mat-select [(ngModel)]="headlineInputs.order">
            <mat-option value="ascending" selected>Ascending</mat-option>
            <mat-option value="descending">Descending</mat-option>
        </mat-select>
    </mat-form-field>
    
   


    <!-- Add Recipe -->
    <button mat-fab color="primary" (click)="AddRecipe()" matTooltip="New Recipe"> 
        <mat-icon>add</mat-icon>
    </button>
    
</div>



<div class="recipeGrid">
    <!-- display current recipe grid -->
</div>



