<!-- <h1 mat-dialog-title> {{data.recipe.RecipeName}}</h1> -->

<mat-dialog-content>


    <!-- PUT Calories Protein, etc up top along with chart then instructions and ingredients later -->


    <!-- NEED A WAY TO CLONE THE ARRAY BC ITS ONLY CAPTURING AS A STRING -->
    {{recipe.ingredients[0]}}
    

    <!-- <h3>Description:</h3>
    <p>{{data.recipe.Description}}</p>
    <br>

    {{data.recipe.Ingredients}}

    <h2>Ingredients: </h2>
    <p *ngFor="let ingredient of data.recipe.Ingredients; let i = index;">
        {{i + 1}}. {{ingredient}}g
    </p>
    <br>

    <h2>Instructions: </h2>
    <p>{{data.recipe.Instructions}}</p>
    <br> -->
</mat-dialog-content>