<h1 mat-dialog-title> 
    <span style="font-size: 25px;">{{recipe.name}}</span>
    <br>
    <span style="color:gray; font-weight: normal; font-size: 16px;" >{{recipe.date}}</span>
</h1>

<mat-dialog-content>
    
    <div class="container">

        <div class="descriptionWrapper">
            <h2>Description:</h2>
            <p><b><i>Calories: {{RoundToNearest5(recipe.totalMacros.Calories)}}</i></b></p>
            <p *ngIf="recipe.description != ''">
                {{recipe.description}}
            </p>
            <p *ngIf="recipe.description == ''">
                Unfortunately, you didn't add a personal description :(
            </p>
        </div>
    
        <div class="macrosWrapper">
           <h2>Macro Breakdown:</h2>
           <div class="pieChart">
            <apx-chart
              [series]="chartValues"
              [chart]="chartType"
              [labels]="chartLabels"
              [title]="chartTitle"
              [tooltip]="chartOptions.tooltip">
            </apx-chart>
          </div> 
        </div>
    </div>


    <br>
    <br>


    <h2>Ingredients:</h2>
    <table>

    </table>


    <br>
    <br>

    <h2>Instructions:</h2>
    <p *ngIf="recipe.instructions != ''">
        {{recipe.instructions}}
    </p>
    <p *ngIf="recipe.instructions == ''">
        You didn't add any instructions :(
    </p>

    <br>
    <br>
    <br>
    <br>
    <div class="deleteBtn">
        <button mat-raised-button color="warn" tabindex="-1" (click)="DeleteRecipe()">Delete Recipe</button>
        <p *ngIf="deleteSpinner">
            <br>
            <mat-spinner [diameter]="25" style="margin: auto"></mat-spinner>
        </p>
    </div>
    
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="false">Close</button>
</mat-dialog-actions>

