<div class="loginPage" *ngIf="!onLoginPage">

    <h1>Register Account</h1>

    <!-- First Name -->
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input [(ngModel)]="registerFirstName" matInput required placeholder="ex. John">
    </mat-form-field>

    <!-- Last Name -->
    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input [(ngModel)]="registerLastName" matInput required placeholder="ex. Doe">
    </mat-form-field>

    <!-- Email -->
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input [(ngModel)]="registerEmail" matInput required placeholder="ex. johndoe@email.com">
    </mat-form-field>

    <!-- Password -->
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input [(ngModel)]="registerPassword" matInput required>
        <mat-hint align="end">Min 8 characters</mat-hint>
    </mat-form-field>

    <!-- Register Btn -->
    <button (click)="register()" mat-raised-button color="primary"
        [disabled]="!registerFirstName || !registerLastName || !registerEmail || !registerPassword">
        Register
    </button>

    <!-- Have Acc Btn -->
    <button (click)="onLoginPage = true" mat-raised-button color="accent">
        I Already Have an Account
    </button>

</div>

<div class="loginPage" *ngIf="onLoginPage">

    <h1>Login</h1>

    <!-- Email -->
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input [(ngModel)]="loginEmail" matInput required placeholder="ex. johndoe@email.com">
    </mat-form-field>

    <!-- Password -->
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input [(ngModel)]="loginPassword" matInput required>
    </mat-form-field>

    <!-- Login Btn  -->
    <button (click)="login()" mat-raised-button color="primary" [disabled]="!loginEmail || !loginPassword">
        Login
    </button>

    <!-- New Acc Btn -->
    <button (click)="onLoginPage = false" mat-raised-button color="accent">
        New? Create an Account
    </button>

</div>




<!-- 
    TO DO:

    - Email Verification
    - Password Verification (meets min characters/ has a number, etc)
    - Hide password as you type
-->