<app-login-toolbar></app-login-toolbar>

<div class="loginPage">

    <h1>Login</h1>

    <!-- Error Message -->
    <div class="errorTopper" *ngIf="showErrorFlag">
        <p>{{errorMessage}}</p> 
    </div>

    <!-- Email -->
    <mat-form-field data-test="email-input">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="email" matInput required placeholder="ex. johndoe@email.com">
    </mat-form-field>

    <!-- Password -->
    <mat-form-field data-test="password-input">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" matInput required minlength="8" type="password">
    </mat-form-field>

    <!-- Login Btn  -->
    <button
        (click)="Submit()"
        mat-raised-button color="accent" 
        data-test="login-button"
    >
        Login
    </button>

    <!-- New Acc Btn -->
    <button (click)="GoTo()" mat-raised-button color="primary">
        New? Create an Account
    </button>

    <!-- Progress Spinner -->
    <div class="loadingFooter" *ngIf="loadingSpinner">
        <p>
            Logging in...
            <mat-spinner [diameter]="25" style="margin: auto"></mat-spinner>
        </p>
    </div>

</div>
