.stepContent {

    /* position: relative; */
    width: 485px;

    padding: 25px 10px;  /*top/bottom   sides*/
}
.removeIngredientBtn {
    margin-top: 0px;
    margin-bottom: 25px;
   
    min-width: 22px !important;
    width: 22px !important;
    height: 14px !important;

    padding: 0px;

    font-size: 10px;
}
.savingFooter {
    text-align: center;
    padding-top: 25px;
}
mat-form-field{
    padding-right: 12px;
}




