<app-login-toolbar></app-login-toolbar>
<div class="landing-page">
    
    <div class="grid-container">
        <mat-grid-list cols="2" rowHeight="7:4">
            <mat-grid-tile>
                <div class="grid-item left-align">
                    <h1 class="headline-4">Recipe tracking made easy.</h1>
                    <p class="body-1">Easily create and share custom recipies for all your nutrition needs.</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <img src="assets\images\Food_Bowl.png" alt="Landing Image" class="landing-image">
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <button (click)="goToRegister()" mat-raised-button color="accent" class="button-text">Start for Free</button>
</div>


